.button-list {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin-bottom: 50px;
}

.button-list .button-secondary {
    min-width: 78px;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;

    background-color: #f5f4fa;
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    transition: background-color var(--transition-dur-and-func),
        box-shadow var(--transition-dur-and-func),
        color var(--transition-dur-and-func);
}

.button-secondary:hover,
.button-secondary:focus {
    color: var(--header-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    /* transition: color var(--transition-dur-and-func); */
    background-color: var(--accent-color);
}
